.header {


  &-content {
    @include flex-center;
    flex-wrap: wrap;
    background-image: url(../img/bg-header320.png);
    height: 620px;
  }

  &-titles {
    height: 620px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0;
    font-family: $main-font-1;
    @include flex-center
    flex-direction: column;
    text-align: center;
    justify-content: start;

    h1 {
      padding-top: 45px;
      color: $main-color-light;
      font-size: 49px;
      font-weight: bold;
      padding-bottom: 20px;
    }

    h3 {
      color: $main-color-dark;
      font-size: 19px;
      line-height: 30px;

    }

    h5 {
      color: $additional-color;
      text-transform: uppercase;
      font-size: 15px;
      line-height: 20px;
    }
  }


  &-bottom {
    font-family: $main-font-1;
    z-index: 9;
    margin-top: -22px ;
    &-text {
      margin-top: 15px;
      text-align: center;
      color: $additional-color;
      font-size: 14px;
    }
  }
}