.header {
&-content{
  background-image: url(../img/bg-header-1200.jpg);
  height: 700px;
}
  &-titles {
    height: 700px;

    h1{
      font-size: 49px*1.74;
    }
    h3{
      font-size: 19px*1.7;
    }
  }


  &-bottom {
    margin-top: -30px ;
    &-text {
      text-align: center;
      color: $additional-color;
      font-size: 14px;
    }
  }
}