.header {
  &-content{
    background-image: url(../img/bg768.jpg);
    height: 680px;
  }

  &-titles {
    height: 680px;
    width: 100%;

    h1{
      font-size: 49px*1.57;
    }
    h3{
      font-size: 19px*1.3;
      line-height: 30px*1.5;
    }
  }


  &-bottom {
    margin-top: -30px ;
    &-text {
      text-align: center;
      color: $additional-color;
      font-size: 14px;
    }
  }
}