.btn{
  text-align: center;
  outline: none;
  border-radius: 30px;
  border: 0;
  @include flex-center;
  &-small{
    font-weight: bold;
    width: 120px;
    height: 40px;
    background-color: $main-color-dark;
    font-size: 15px;
    color: #fff;
    &:active{
      background-color: darkslateblue;
    }
  }
  &-big{
    border: 1px solid $additional-color;
    font-weight: bold;
    height: 45px;
    color: #fff;
    width: 290px;
    font-family: $main-font-1;
    font-size: 15px;
    background-color: $main-color-dark;
    &:active{
      background-color: darkslateblue;
    }
  }

}

