.btn{
  text-align: center;
  outline: none;
  border-radius: 30px;
  border: 0;
  @include flex-center;
  &-small{
    font-weight: bold;
    width: 120px;
    height: 40px;
    background-color: $main-color-dark;
    font-size: 15px;
    color: #fff;
    &:active{
      background-color: darkslateblue;
    }
  }


  &-small{
    width: 145px;

  }
  &-small:hover{
    background: $main-color-light;
    color: $main-color-dark;
  }
  &-big:hover{
    background: $main-color-light;
    color: $main-color-dark;
  }
}