.about {
  @include flex-center;
  height: 440px;
  background-color: #fff;
  width: 320px;
  margin: 0 auto;
  &-subheader {
    color: rgba(99, 92, 115, 255);
    text-transform: uppercase;
    margin-top: 100px;
    font-size: 24px;
    line-height: 35px;
    &-text {
      font-family: $main-font-2;
      text-align: center;
      font-size: 15px;
      color: rgba(50, 50, 50, 255);
      margin-top: 23px;
    }
  }
  &-pagehead-icons {
    display: flex;
    justify-content: space-evenly;
    align-content: space-evenly;
    flex-wrap: wrap;
    font-size: 10px;
    margin: 34px 0 auto;
  }
  &-pagehead-icons button {
    height: 26px;
    width: 75px;
    border: 1px solid gray;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    background: linear-gradient(to bottom, #fcfcfc, #eeeeef);
    margin-right: 0;
  }
  &-pagehead-icons a {
    text-decoration: none;
    color:black;
    font-weight: 700;
    font-size: 10px;
  }
  &-social-count {
    background-color: #fff;
    height: 26px;
    border: 1px solid gray;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    box-sizing: border-box;
    border-left: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 5px;
  }
  &-pagehead-icons-btn {
@include flex-center
  }
}
.about-pagehead-icons-wrapper {
  @include flex-center;
  height: 26px;
  width: 110px;
  margin: 5px;
}