.navbar {
  height: 100px;
  padding: 0 70px;
  &-menu {
    top: 35px;
  }
  &-logo{
    &-img:hover{
      width: 43px;
      height: 41px;
      display: inline-block;
      background-image:  url(../img/forkio_sprites.png);
      background-position: -72.9px -10px;
      background-repeat: no-repeat;
      overflow: hidden;
    }
    &-text:hover{
      color: #fff;
    }
    &-text{
      left: 135px;
    }
  }
  &-menu{
    &-item:hover a{
      color: $main-color-light;
    }
  }

}
