.navbar {
  height: 120px;
  padding: 0;

  &-content {
    @include flex-between;
    padding-top: 20px;
  }

  &-toggler {
    display: none;
  }

  &-logo {
    &-text {
      display: flex;
      font-family: $main-font-2;
      color: $main-color-dark;
      position: absolute;
      font-size: 25px;
      left: 65px;
      top: 30px;
      text-transform: uppercase;
      font-weight: bold;
    }
  }


  &-menu {
    display: block;
    height: 20px;
    width: 100%;
    font-weight: bold;
    font-size: 16px;
    position: absolute;
    top: 75px;
    background-color: transparent;
    left: -20px;

    &-item {
      background-color: transparent;

      border: none;
      display: inline;
      height: 30px;


    }

    &-link {
      color: $main-color-dark;

      &-active {
        &-line {
          display: none;
        }
      }
    }


  }
}
