.navbar {
font-family: $main-font-1;
  position: relative;
  padding: 31px 0;
  background-color: #27262a;

  &-content {
    @include flex-between;
  }

  &-toggler {
    text-decoration: none;
    display: flex;
    flex-direction: column;

    &-line {
      width: 26px;
      height: 2px;
      background-color: #e5e3e3;
      margin-bottom: 7px;
      transition: all .3s ease-in-out;
      transform-origin: 0 1px;
    }
    &_opened span:nth-child(1) {
      transform: rotate(45deg);
    }
    &_opened span:nth-child(2) {
      opacity: 0;
    }
    &_opened span:nth-child(3) {
      transform: rotate(-45deg);
    }
  }

  &-logo {
    &-img{
      width: 43px;
      height: 41px;
      display: inline-block;
      background-image: url(../img/forkio_sprites.png);
      background-position: -10px -10px;
      background-repeat: no-repeat;
      overflow: hidden;
    }

    &-text {
      display: none;
    }
  }


  &-menu {
    display: none;
    height: 290px;
    width: 270px;

    color: #fff;
    font-size: 20px;
    text-align: center;


    &-item {
      @include flex-center;
      background-color: #333333;
      justify-content: start;
      border: 1px solid #3b3b3b;
      display: flex;
      height: 70px;
      padding-left: 30px;

    }
    &-link {
      color: $main-color-light;

      &-active{
        color: $main-color-dark;
        &-line{
          width: 10px;
          height: 55px;
          background-color: $main-color-dark;
          position: absolute;
          top: 8px;
          left: 0;
        }
      }
    }

  &_openedBurg {
    position: absolute;
    display: block;
    bottom: -290px;
    right: 15px;
    z-index: 1000;
  }
}}
