.pricing-plan-content {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  //min-width: 640px;
  max-width: 760px;
}
.pricing-plan-card {
  height: 450px;
  border: none;
  text-align: center;
  margin: 30px 15px;
  max-width: 50%;
}
.pricing-plan-subheader {
  width: 100%;
  height: auto;
  font-size: 30px;
  margin-top: 40px;
}

