.pricing-plan {
  background-color: #4b3b4e;

  &-subheader {
    color: rgba(255, 255, 255, 255);
    text-align: center;
    display: block;
    width: 250px;
    margin: 40px 0 10px;
  }

  &-card {
    width: 250px;
    height: 450px;
    background-color: #5f5161;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    margin-bottom: 30px;
    margin-top: 30px;

    &-header {
      &-active {
        width: 100%;
        background-color: #3a2d3d;
        color: #e3e3e3;
        font-size: 28px;
        height: 110px;
        text-transform: uppercase;
        @include flex-center;
    }
      background-color: #685b6a;
      color: #fff;
      font-weight: 400;
      font-family: ﻿ $main-font-1;
      font-size: 24px;
      text-transform: uppercase;
      height: 100px;
      width: 100%;
      @include flex-center;
    }

    &-price {
      font-size: 50px;
      color: rgba(255, 255, 255, 255);
      font-family: $main-font-2;
      font-weight: 700;
      &-active {
        font-size: 58px;
        color: rgba(255, 255, 255, 255);
        font-family: $main-font-2;
        font-weight: 700;
      }
    }

    &-per-month {
      font-size: 14px;
      font-family: ﻿ $main-font-1;
      color: #827784;
      font-weight: 400;
      text-transform: uppercase;
      margin-bottom: 20px;
    }

    &-line {
      content: "";
      height: 5px;
      width: 60px;
      border: none;
      background-color: #8d81ac;
    }

    &-more-info {
      font-size: 14px;
      font-family: ﻿ $main-font-1;
      color: #fff;
      font-weight: 400;
      text-align: center;
      margin-bottom: 45px;
      display: block;
      width: 160px;
    }

    &-more-info-more-text {
      width: 200px;
    }

    &-btn-purchase {
      width: 160px;
      height: 40px;
      font-family: $main-font-1;
      background-color: #776b79;
      border-radius: 25px;
      border: 1px transparent;
      margin-bottom: 40px;
      text-transform: uppercase;
      color: #fff;
      font-size: 14px;
      font-weight: 400;
      @include flex-center;
      &-active {
        width: 190px;
        height: 50px;
        font-family: $main-font-1;
        background-color: #5d5160;
        border-radius: 25px;
        border: 1px transparent;
        margin-bottom: 40px;
        text-transform: uppercase;
        color: #fff;
        font-size: 15px;
        font-weight: 400;
        @include flex-center;
      }
    }
  }
}

.pricing-plan-content {
  @include flex-center;
  flex-direction: column;
}

.pricing-plan-card:nth-child(4) {
  width: 290px;
  height: 550px;
  background-color: #413344;

  .pricing-plan-card-btn-purchase:nth-child(4) {
    background-color: #5d5160;
    width: 190px;
    height: 50px;
  }
}