.preference {
  width: 100%;
  height: 720px;
  &-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 150px);
    //min-width: 640px;
  }
  &-header {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 1;
    margin-top: 10%;
    margin-right: 10%;
    font-size: 40px;
    color: #8d81ac;
  }
  &-block-wrapper {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 4;
    margin-top: 10%;
  }
  &-block {
    width: 80%;
    justify-content: flex-start;
  }
  &-text-wrapper {
    margin: 0 auto;
  }
  &-image-footer{
    grid-column-start: 3;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 4;
    height: 500px;
    margin: 0;
  }

}