.preference {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  height: 1350px;
  //min-width: 640px;
    &-block {
      display: flex;
      justify-content: flex-start;
    }
  &-text-wrapper{
    width: 100%;
    flex-grow: 1;
    margin-bottom: 60px;
  }
  &-subheader{
    text-align: left;
    margin-top: 30px;
  }
  &-subheader-text {
    text-align: left;
    margin: 20px auto;
    width: 100%;
  }
  &-image-footer {
    height: 500px;
    background-image: url(../img/bg-image-preference-footer-768.png);
  }
  &-image {
    width: 30%;
    background-repeat: no-repeat;
    margin-left: 5%;
  }

}