.preference {
  background-color: #f4f4f4;
  display: flex;
  align-content: space-between;
  justify-content: space-around;
  margin: 0 auto;
  min-width: 270px;
  height: 1550px;
  &-header {
    color: #8d81ac;
    width: 200px;
    margin: 50px  auto;
  }
  &-subheader {
    color: rgba(50, 50, 50, 255);
    font-size: 16px;
    text-align: center;
    margin-top: 30px;
  }
  &-subheader-text {
    font-size: 14px;
    color: rgba(132, 142, 151, 255);
    text-align: center;
    margin: 20px auto;
    width: 250px;
  }
  &-subheader-text:nth-last-child{
    margin-bottom: 50px;
  }
  &-image-footer {
    display: block;
    background-image: url(../img/bg-image-preference-footer.png);
    height: 381px;
    background-position: left bottom;
    background-repeat: no-repeat;
  }
  &-image{
    margin: 30px auto;
  }
  &-img1{
    background-image: url(../img/image-preference1.png);
    height: 64px;
    width: 111px;
  }
  &-img2{
    background-image: url(../img/image-preference2.png);
    height: 80px;
    width: 90px;
  }
  &-img3{
    background-image: url(../img/image-preference3.png);
    height: 84px;
    width: 60px;
  }
  &-img4{
    background-image: url(../img/image-preference4.png);
    height: 71px;
    width: 71px;
  }

}