$main-color-dark: rgb(141, 129, 172);
$main-color-light: #fff;
$additional-color: rgba(132, 142, 151, 255);
$main-font-1: 'Montserrat', sans-serif;
$main-font-2: 'Lato', sans-serif;
$main-padding: 12px 24px;
$tablet: 768px;