.review-main{
  &-content{
    background-image: url(../img/bg_people768.jpg);
    height: 1145px;


  }
  &-subheader{
    font-size: 36px*1.15;

  }
  &-list{
    height: 900px;
    display: flex;
    flex-wrap: wrap;
    @include flex-center;

    &-logo {
    }
    &-item{
      margin: 25px 30px;
      &-bottom{
        display: block;
        font-family: $main-font-2;
        font-size: 14px;
        line-height: 20px;
        color: rgba(162, 145, 165, 255);
      }
    }
  }

}