.review-main{
  &-content{
    background-image: url(../img/bg-people1200.jpg);
    height: 870px;


  }
  &-subheader{
    font-size: 36px*1.35;
    padding-bottom: 0;

  }
  &-list{
    height: 700px;


  }

}