.review-main{
  &-content{
    background-image: url(../img/bg-people.png);
    height: 1545px;
    background-repeat: no-repeat;
    background-size: cover;
    @include flex-center;
    flex-direction: column;
    text-align: center;
  }
  &-subheader{
    margin: 0 auto;
    font-weight: bold;
    font-size: 36px;
    text-align: center;
    text-transform: capitalize;
  }
  &-list{
    height: 1200px;
    font-family: $main-font-2;
    color: white;
    font-style: italic;
    font-size: 20px;
    border-bottom: 2px solid #645766;
    &-logo {
      margin: 15px 0;
    }
    &-item{
      width: 240px;
      margin: 15px 0;
      &-bottom{
        display: none;
      }
    }
  }
}